
body{
    margin: 0px;
    padding: 0px;
    width: 375px;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 44px;

    
}

.header1-1{
width: 54px;
height: 21px;
padding-top: 13px;
padding-left: 21px;
}
time{
    font-family: roboto;
    font-size: 14px;
    font-weight: 800;

}
.header1-2{
    width: 66.66px;
    height: 11.34px;
    padding-top: 17.33px;
    padding-right: 10px;
}
.header2{
    width: 375px;
    height: 48px;
    top: 44px;
    display: flex;
    justify-content: space-between;
}
.header2-1{
    padding-left: 18px;
    padding-top: 10px;
    
}
.header2-2{
    padding-right: 8px;
}
.headline{
    width: 375px;
    height: 550px;
    background-image: url('header-shapes\ mobile.png');
   
}
.heading1{
    width: 327px;
    height: 150px;
    padding-top: 50px;
    padding-left: 20px;
}
h1{
    font-family: Poppins;
    font-weight: 700;
    size: 40px;
    line-height: 52px;
    width: 327px;
    height: 146px;
}
.para1{
font-weight: 400;
font-size: 16px;
line-height: 24px;
padding-left: 20px;
}
.heading2{
    padding-left: 20px;
}
h3{
    color: #7F8CFF;
    
}
.logo2{
    padding-left: 20px;
}